<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        img {
            width: 4%;
            height: 4%;
        }

        .rev {
            transform: scale(-1, 1)
        }
    </style>
</head>

<body>
    <img class="d-inline rev" src="../static/images/chu.png">
    <h2 class="d-inline">Hello World</h2>
    <img class="d-inline" src="../static/images/chu.png">
</body>

</html>